{
    "env": {
        "production": {
          "plugins": [
            ["react-remove-properties", {"properties": ["data-test"]}]
          ]
        }
      },
    "presets": ["@babel/env", "@babel/preset-react"]
}